*.iml
.gradle
/local.properties
.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/google-services.json
/samples
functions/pglite-debug.log
functions/firebase-debug.log
